{
    "semi": true,
    "singleQuote": true,
    "printWidth": 80,
    "tabWidth": 4,
    "htmlWhitespaceSensitivity": "css",
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./src/styles/global.css",
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        },
        {
            "files": "*.{yml,yaml}",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
